<!DOCTYPE html>
<html lang="en">
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body class="signin">

<div class="team-block">
  <h1>选择团队</h1>
  <hr>
  <% @teams.each do |team| %>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= link_to team_projects_path(team) do %>
          <div><%= team.name %></div>
        <% end %>
      </div>
      <div class="col-md-2"></div>
    </div>
    <hr>
  <% end %>
</div>



<%= javascript_include_tag 'application' %>
</body>

</html>
