<div class="container events pt100">
  <div class="table-responsive">
    <table class="table table-striped" data-team-uid="<%= current_team.uid %>"
           data-events-path="<%= team_events_path(current_team, format: 'json') %>">
      <tr>
        <th>操作人</th>
        <th>事件</th>
        <th>操作对象</th>
        <th>评论</th>
      </tr>
    </table>
  </div>
</div>