<div class="container events pt100">
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>操作人</th>
        <th>事件</th>
        <th>操作内容</th>
      </tr>
      <% @events && @events.each do |event| %>
        <tr>
          <th><%= event.user.name %></th>
          <th><%= event.action_i18n %></th>
          <th><%= event.resource_type.constantize.model_name.human %> : <%= event.resource %></th>
        </tr>
      <% end %>
    </table>
  </div>
</div>