default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: 123456
  host: localhost

development:
  <<: *default
  database: events_demo

test:
  <<: *default
  database: events_demo_test

production:
  <<: *default
  database: events_demo_production
  username: secret
  password: <%= ENV['SECRET_PASSWORD'] %>
